# dataset&profit
/checkpoints/
/eval_results/
/samples/
/samples_sam/
/utils/
/outputs/
/RSGUnet_proj/RSGUnet/
*.csv
*.zip
*.tar
*.gz
*.h5
*.pth
*.pt
*.bin
*.png
*.jpg

# Python Encoded&env
__pycache__/
*.py[cod]
*$py.class
.env/
venv/
env/

# IDE specific doc
.idea/
.vscode/
*.swp
*.swo

# sys doc
.DS_Store
Thumbs.db
